* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header, .section-1 {
    background-color: #1F2937;
    display: flex;
}

header {
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px;
    height: 5vh;
    padding: 0 16%;
}

header > span {
    color: #F9FAF8;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.links span, .section-1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.section-1 {
    padding: 0 16%;
    height: 50vh;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.section-1 div:nth-of-type(1) {
    flex: 0 0 47%
}

.image{
    flex: 0 0 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C747D;
    height: 50%;
    color: #E5E7EB;
}

.section-1 div:nth-of-type(1) span {
    background-color: #3882F6;
    color: white;
    padding: 1.5% 7%;
    border-radius: 7.5px;
}

.section-1 p {
    margin-bottom: 4%;
}